# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore node_modules and dist directories
node_modules
dist
dist-ssr
*.local

# Ignore editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj

# Ignore files in front and back directories
front/node_modules
front/dist
back/node_modules
back/dist

classroom-project-backend/src/config
classroom-project-fontend/yarn.lock